*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    background-color: #121212;
}
.nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    
}
.nav-prt2{
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-prt2 h2{
    color: #bb0000;
}
.nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-transform: capitalize;

}
.nav-prt2 .line{
    width: 100px;
   background-color: #b30000;
    height: 2px;
    
}
.nav h1{
    color: rgb(255, 253, 248);
}
.nav img{
    width:150px;
    height: 150px;
    object-fit: cover;

}